header {
   background-color: #333;
   color: #fff;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header a {
   color: #fff;
   text-decoration: none;
   margin-right: 20px;
}

header img {
	display: block;
}

header a:hover {
   color: #ccc;
}

/* CSS code for footer */
footer {
   background-color: #333;
   color: #fff;
   padding: 20px;
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: space-between;
}

.contact-us-form input {
   width: 400px;
}